header {
  z-index: 100;
  height: 60px;
  width: 100%;
  background-color: $color2;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(51,44,30,0.10);

  a #logo {
    margin: 10px 0 0 20px;
    height: 40px;
    fill: $color1;
    transition: fill 150ms ease;

    @media only screen and (max-width: 640px) {margin: 10px 0 0 10px;}

    &:hover {
      fill: $color3;
      transition: fill 250ms ease;
    }
  }

  p {
    font-family: $font2;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 15px;
    transform: translateX(44px);

    @media only screen and (max-width: 840px) {display: none;}
  }

  nav {
    font-family: $font1;
    margin: 16px 10px 0 0;

    a {
      display: inline-block;
      width: 70px;
      position: relative;
      margin: 0 5px 0 5px;
      padding: 5px 5px;
      text-align: center;
      color: $color3;
      text-decoration: none;
      transition: color 150ms ease;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        height: 2px;
        background-color: $color1;
        transition: width 150ms ease;
      }

      &:hover {
        color: $color1;
        transition: color 250ms ease;

        &:before {
          width: 85%;
          transition: width 250ms ease;
        }
      }

      &.active {
        color: $color1;

        &:before {
          width: 85%;
        }
      }
    }
  }
}
